<div class="d-flex flex-column align-items-center">
  <div class="d-flex mb-3">
    <label>
      Nume:
      <input type="text" [formControl]="name">
    </label>
  </div>
  <div class="d-flex mb-3">
    <label>
      Prenume:
      <input type="text" [formControl]="surname">
    </label>
  </div>
  <div class="d-flex mb-3 ">
    <label>
      Salariu Brut:
      <input type="text" [formControl]="salary">
    </label>
  </div>
  <div class="d-flex mb-3">
    <label>
      Taxe:
      <input type="text" [formControl]="tax">
    </label>
  </div>

  <div class="d-flex mb-3 d-flex justify-content-center">
    <label>
      Salarii extra:
      <input type="text" [formControl]="extraSalary">
    </label>
  </div>
  <div>
    <button class="d-flex" (click)="postPdfObject()">Post pdf</button>
  </div>
</div>


{{response}}